body {
  margin: 0;
  padding: 0;
  background-size: cover;
  background: url("../images/bg4.jpg");
}

.loginBox {
  position: absolute;
  top: 52.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 380px;
  padding: 80px 40px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, .7);
}

.lock {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: calc(-100px/2);
  left: calc(50% - 50px);
}

h2 {
  font-family: 'Roboto';
  margin: 0;
  padding: 0 0 20px;
  color: silver;
  text-align: center;
}

.loginBox p {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family:'Oswald';
  letter-spacing: 2px;
}

.loginBox input {
  width: 100%;
  margin-bottom: 20px;
}

.loginBox input[type="text"], .loginBox input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

::placeholder {
  color: rgba(255, 255, 255, .5);
}

.loginBox input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  color: silver;
  font-size: 16px;
  background: #B11D06;
  cursor: pointer;
  border-radius: 20px;
}

.loginBox input[type="submit"]:hover {
  background: #EC2929;
  color: silver;
}

.loginBox a {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}