body {
    background: url("../images/754.jpg") no-repeat fixed;
    background-size: cover; 
    margin-top:2%;
}

table {
    font-family: verdana, arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
    overflow: hidden;
    z-index: 1;
}

th, td {
    border: 1px solid #666666;
    padding: 8px;
    cursor: pointer;
    position: relative;
    background-color: rgba(255, 255, 255, .5);
}

th {
    font-size: 13px;
    background-color: rgba(255, 255, 255, .75);
}

tr:hover{
    background-color: #F5BCA9;
}

td:hover::after { 
    background-color: #F5BCA9;
    content: '\00a0';  
    height: 10000px;    
    left: 0;
    position: absolute;  
    top: -5000px;
    width: 100%;
    z-index: -1;        
}

td:hover{
    background-color: #F5A9A9;
}

h1 {
    font-family: verdana, arial, sans-serif;
    font-size: 29px;
    color: white;
    text-shadow: 3px 3px #1C1C1C;
}

#orders{
    margin-bottom: 8%;
}

button{
    background: #D0A9F5;
    box-shadow: 10px 10px 7px 0px rgba(0,0,0,0.52);
    font-family: verdana, arial, sans-serif;
    font-size: 11px;
    font-weight: bold; 
    height: 25px;
    cursor:pointer;
    border:none;
}
button:hover{
    color: white; 
}

input[type=submit]{
    background: #585858;
    box-shadow: 10px 10px 7px 0px rgba(0,0,0,0.52);
    font-family: verdana, arial, sans-serif;
    font-size: 11px;
    font-weight: bold; 
    height: 40px;
    cursor:pointer;
    border:none;
    width:110px;
}

input[type=submit]:hover{
    color: red; 
}

.btn, .qte, .fc{
    margin-top: 1px;
    margin-bottom: 1px;
}

.qte{
    width: 50px;
}

.fc, .fc option, .qte {
    padding:3px;
    border-radius:4px;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color:#585858;
    border:none;
    outline:none;
    display: inline-block;
    appearance:none;
    cursor:pointer;
    font-family: verdana, arial, sans-serif;
    font-size: 11px;
    font-weight: bold; 
}