body {
  background: url("../images/essai1.jpg") no-repeat;
  background-size: cover;
}

h1, p, input[type=date] {
    color: silver;
    font-family: Oswald;
    text-align: center;
    letter-spacing: 2px;
    font-size: 17px;
}

h1{
    font-size: 38px;
}

p{
    font-weight: bold;
    font-size: 20px;
    text-align:center;
}

text{
    font-weight: bold;
    fill:#F5A9A9;
    
}

input[type=date]{
    background-color: transparent;
    border: none;
}

svg > rect{
    fill:  transparent;
}

div{
    display:inline-block;
}

input[type=button], input[type=submit]{
    background: #585858;
    box-shadow: 10px 10px 7px 0px rgba(0,0,0,0.52);
    font-family: verdana, arial, sans-serif;
    font-size: 11px;
    font-weight: bold; 
    height: 40px;
    cursor:pointer;
    width : 100px;
    border:none;
    color:silver;
}

input[type=button]:hover, input[type=submit]:hover{
    color: white; 
}

form{
    display:inline-block;
}

input[type=submit]{
    width:110px;
}