body {
  background: url("../images/essai1.jpg") no-repeat;
  background-size: cover;
}

h1, p, input {
    color: silver;
    font-family: Oswald;
    text-align: center;
    letter-spacing: 2px;
}

p{
    font-weight: bold;
    font-size: 18px;
    text-align:center;
}

text{
    fill: #BDBDBD;
}

input{
    background-color: transparent;
    border: none;
}

svg > rect{
    fill:  transparent;
}

div{
    display:inline-block;
}