body {
    width:750px;
    margin: 0 auto;
}

table {
  font-family: verdana, arial, sans-serif;
  font-size: 11px;
  color: #333333;
  border-width: 1px;
  border-color: #666666;
  border-collapse: collapse;
  overflow: hidden;
  z-index: 1;
}

th {
  background-color: #dedede;
}

th, td {
  border: 1px solid #666666;
  padding: 8px;
  cursor: pointer;
  position: relative;
}

tr:hover{
  background-color: #B0AAAA;
}

td:hover::after { 
    background-color: #B0AAAA;
    content: '\00a0';  
    height: 10000px;    
    left: 0;
    position: absolute;  
    top: -5000px;
    width: 100%;
    z-index: -1;        
}

td:hover{
  background-color: #DA7777;
}

td:last-child { 
    border-bottom: none;
}

#btnOrder {
    margin-top:1px;
    margin-bottom:1px;
}