body {
    width:50%;
    margin: 0 auto;
    background: url("../images/bg4.jpg") fixed;
}

table {
  font-family: verdana, arial, sans-serif;
  font-size: 11px;
  font-weight: bold;
  color: #333333;
  border-width: 1px;
  border-color: #666666;
  border-collapse: collapse;
  overflow: hidden;
  z-index: 1;
}

th, td {
  border: 1px solid #666666;
  padding: 8px;
  cursor: pointer;
  position: relative;
  background-color: rgba(255, 255, 255, .5);
}

th {
  font-size: 13px;
  background-color: rgba(255, 255, 255, .75);
}

tr:hover{
  background-color: #B0AAAA;
}

td:hover::after { 
    background-color: #B0AAAA;
    content: '\00a0';  
    height: 10000px;    
    left: 0;
    position: absolute;  
    top: -5000px;
    width: 100%;
    z-index: -1;        
}

td:hover{
  background-color: #4FF94F;
}

td:last-child { 
    border-bottom: none;
}

#btn {
    margin-top:1px;
    margin-bottom:1px;
}

h1 {
    color: white;
    margin-left:34%;
}

#orders{
    width: 1500px;
    margin-left:-25%;
}

button{
    background: gold;
    box-shadow: 10px 10px 7px 0px rgba(0,0,0,0.52);
    font-family: verdana, arial, sans-serif;
    font-size: 11px;
    font-weight: bold; 
    height: 25px;
    cursor:pointer;
}
button:hover{
    color: white; 
}