<!DOCTYPE html>
<html>
    <head>
        <title>Bienvenue</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:400,500|Roboto:300,400,500,700|Ubuntu+Condensed">
        <link rel="stylesheet" href="views/css/indexadmin.css">
    </head>
    <body>
        <h1>Statistiques</h1>
        <a href="views/ChiffreClient.jsp">Chiffre d'affaire par client</a>
        <a href="views/ChiffreZoneGeo.jsp">Chiffre d'affaire par zone géographique</a>
        <a href="views/ChiffreCateg.jsp">Chiffre d'affaire par catégorie d'article</a>
    </body>
</html>
